@charset "utf-8";
/* CSS Document */
#navigation {
	clear:both;
	width:100%;
	height:79px;
	background:#fff url(../img/common/bg-nav.gif) repeat-x;
	border-bottom:solid 3px #808080;	
}

#navigation ul {
	margin:0;
	padding:0;
	z-index:30px;
}

#navigation ul li {
	float:left;
	position:relative;
	list-style:none;
	margin:0px 8px 0px 8px;
	text-align:center;	
	padding-top:3px;
	width:135px;
	
}

#navigation ul li span {
	float:left;
	height:50px;
	width:100%;
	margin-top:8px;
}


#navigation ul li img {

}

#navigation ul li a {
	font-family:calibri, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6a6b6b;	
	padding-bottom:2px;
	display:block;
}

#navigation ul li a:hover {
	color:#333;
}


#navigation ul li div.active {
	width:145px;
	background:#fff url(../img/common/bg-nav-active.gif) repeat-x;
	border-top:solid 1px #e2e2e2;
	border-right:solid 1px #e2e2e2;
	border-left:solid 1px #e2e2e2;
	border-bottom:solid 1px #fff;
	-moz-border-radius:8px 8px 0 0;
	border-radius:8px 8px 0 0;
	position:relative;
	top:1px;
	padding:8px 2px 1px 2px;
	margin-top:-3px;
	margin-bottom:-1px;
}

#navigation ul li div.active a {
	color:#333;
}

#navigation ul li div.active span {
	float:left;
	height:46px;
	width:100%;
	margin:0px;
}


#navigation ul ul {
	background:#fff url(../img/common/bg-nav-sub.gif) repeat-x top;
	display:none;
	font-size:11px;
	font-weight:normal;
	margin:0;
	padding:0;
	position:absolute;
	top:76px;	
	z-index:50;
	text-align:left;
	border-top:solid 1px #e8e8e8;
	border-left:solid 1px #e8e8e8;
	border-right:solid 1px #e8e8e8;
	border-bottom:solid 1px #e8e8e8;	
}

#navigation ul ul ul {
	top:-1px;
	left:100%;
	border-top:solid 1px #e2e2e2;
}

#navigation ul ul li {
	clear:both;
	float:left;
	margin:0;
	padding:0;
	width:180px;
	background:url(../img/element/arrow.gif) no-repeat 5px 14px;
}

#navigation ul ul li a {
	color:#624d4d;
	display:block;
	margin:0;
	padding:10px 10px 10px 22px;
	text-align:left;	
	font-family:calibri;
	font-size:12px;
	font-weight:normal;	
}

#navigation ul ul li a:hover {
	border:medium none;
	color:#624d4d;
	margin:0;
	background:#e8f9fe url(../img/element/arrow.gif) no-repeat 5px 14px;
}


div#navigation li:hover {
	cursor:pointer;
	z-index:100;
}

div#navigation li:hover ul ul, div#navigation li li:hover ul ul, div#navigation li li li:hover ul ul, div#navigation li li li li:hover ul ul {
	display:none;
}

div#navigation li:hover ul, div#navigation li li:hover ul, div#navigation li li li:hover ul, div#navigation li li li li:hover ul
, div#navigation li li li li li:hover ul{
	display:block;
}


#navigation ul li:hover > a, #navigation ul li a.active {
	background:#e8f9fe url(../img/element/arrow.gif) no-repeat 5px 14px;
	color:#624d4d;
}

#navigation ul li a.left:hover, #navigation ul li a.left.active {
	color:#624d4d;
}

#navigation ul li a.right:hover {
	color:#624d4d;
}

#navigation ul ul li:hover > a {
	color:#624d4d;
}

.sp-sub-nav{
	clear:both;
	width:100%;
	height:1px;
	border-top:solid 1px #ccc;
	background:url(../img/common/bg-nav-sub.gif) repeat-x bottom;	
}


